html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    background-image: url('images/loginBG.svg');
    background-position: top center;
    background-size: auto auto;
    background-repeat: no-repeat;
}