/*
Global styles------------------------------------
*/

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

h1 {
    color: #328E00;
    background: #ffffff;
    text-decoration: none;
    text-align: center;
    font-size: 50px;
    margin: auto;
    padding: 20px;
    border-radius: 20px;
    border: 5px solid;
    width: 25em;
}

body {
    /* margin: auto auto; */
    background: #ffd725;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto auto;
}

.orderID {
    margin-bottom: 15px;
    margin-left: 27.611%;   /* TODO:  We will be able to remediate the margin spacing issues with php.*/
    /* margin: auto; */
    border-radius: 8px;
    padding: 5px;
    margin-right: 200px;
}

.orderIDtop {
    margin-top: 60px;
    margin-bottom: 15px;
    margin-left: 27.611%;
    border-radius: 8px; 
    padding: 5px;
    margin-right: 200px;
}

.inProgress {
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #376cff;
    border-color:#376cff;
    text-align: center;
}
.complete {
    font-size: 15px;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 15px;
    background-color: #00ff2a;
    border-color: #00ff2a;
    text-align: center;
}

.homeBtn {
    position: relative;
    float: right;
    bottom: -100px;
    left: -20px;
}
